.vscode/
celeb_images_modele.o
celeb_images_modele_test
celeb_images_modele_test.o
celeb_metiers_modele.o
celeb_metiers_modele_test
celeb_metiers_modele_test.o
celeb_pays_modele.o
celeb_pays_modele_test
celeb_pays_modele_test.o
celebrites_modele.o
celebrites_modele_test
celebrites_modele_test.o
database.o
metiers_modele.o
metiers_modele_test
metiers_modele_test.o
pays_modele.o
pays_modele_test
pays_modele_test.o
exemple1
exemple2
exemple1.o
exemple2.o

